    /* 盒子模型，列表，图片，a，标题，普通字体 默认样式重置 */
    *{margin: 0;padding: 0;}
    ul,ol{list-style: none;}
    img{display: block;}
    a{text-decoration: none;color: #323232;}
    h1,h2,h3{font-size: 16px;}
    body{font-family: Arial;}
    
    /* 设置浮动，清除浮动， */
    .leftfloat{float: left;}
    .rightfloat{float: right;}
    .clearfloat:atfer{content: "";display: block;clear: both;}

    /* 设置版心的大小,并且为了版心绝对定位于是这里设置一个相对定位 */
    .container{width: 1080px;margin: 0 auto;position: relative;}
    /* 设置通栏 */
    .container-fluid{width: 100%;}



    #head{height:81px}

    #head .head_logo{width: 162px;height: 44px;margin-top: 19px;}


    #head .head_menu{font-size:14px;margin-top: 19px;}

    #head .head_menu li{float: left; margin-left: 58px;}
    #head .head_menu li a{text-decoration: none;color: #323232;}
    #head .head_menu li a.active{color: #0ec4a2;}
    #head .head_userstatus {float: left; margin-left: 58px;}
    #head .head_userstatus a{text-decoration: none;color: #323232;font-size: medium;}

    .area_title{margin-top: 60px;text-align: center;}
    .area_title h2{height:20px; line-height: 20px;font-size: 20px;color: #363636;background: url(images/title_bg.png) no-repeat center 1px;font-weight:normal ;}
    .area_title p{color: #9f9f9f;font-size: 14px;line-height: 34px;}
    #banner{position: relative;}

    #banner .banner_list{width: 100%;height: 469px;position: relative;}
    /* position: absolute;left: 0;top: 0; opacity:0; z-index: 1; 使所有图片都在一个位置上,并隐藏所有图片,并把图片放在底层 */
    #banner .banner_list li{width: 100%;height: 100%;background: center 0 no-repeat;position: absolute;left: 0;top: 0;opacity:0;z-index: 1;}
    /* 显示图片，并放在上层 */
    #banner .banner_list li.active{opacity:1;z-index: 10;}
    /* 宽高属性直接会继承自父节点 */
    #banner .banner_list li a{display: block;width: 100%;height: 100%;}
    /* banner按钮因为是固定一个位置不动因此采用绝对定位 font-size: 0px 是按钮之间的宽度*/
    #banner .banner_btn{width: 100%;position: absolute;bottom: 8px;left: 6px;z-index: 20;font-size: 0px;text-align: center;
    }
    /* 四个按钮是并排显示因此采用的是 inline-block 每个按钮的大小就是li的大小*/
    #banner .banner_btn li{display: inline-block;width: 12px;height: 12px;border: 2px solid white;
        border-radius: 50%; box-sizing: border-box;margin: 0 6px;cursor: pointer;

    }

    #banner .banner_btn li.active{background: red;}


    #service {overflow: hidden;min-height: 407px;position: relative;}
    #service .service_list{text-align: center;margin-top: 34px;}
    #service .service_list li{float: left;width: 250px;margin: 0 10px;}
    #service .service_list div{width: 102px;height: 102px;margin: 0 auto;}
    #service .service_list li:nth-of-type(1) div{background-image: url(/images/icon01.svg);background-repeat: no-repeat;}
    #service .service_list li:nth-of-type(2) div{background-image: url(/images/icon01.svg);background-repeat: no-repeat;}
    #service .service_list li:nth-of-type(3) div{background-image: url(/images/icon01.svg);background-repeat: no-repeat;}
    #service .service_list li:nth-of-type(4) div{background-image: url(/images/icon01.svg);background-repeat: no-repeat;}
    #service .service_list h3{font-size: 18px;color: #434343;line-height: 36px;margin-top: 25px;}
    #service .service_list p{font-size: 14px;color: #6d6d6d;line-height: 22px;}
    #case{background: #f8f8f8;}
    #case .container{min-height: 460px;overflow: hidden;}
    #case .case_title{margin-top: 55px;}
    #case .case_title h2{color: #66c5b4;}
    #case .case_list{margin-top: 28px;height: 180px;}
    #case .case_list li{float: left;width: 340px;margin:0 10px;}
    #case .case_btn{width: 176px; height: 37px;background: #66c5b4;margin: 0 auto;border-radius: 25px;
        line-height: 37px;text-align: center;font-size: 14px;margin-top: 36px;}
    #case .case_btn a{display: block;width: 100%;height:100%;color: white;}

    #news{min-height: 450px;overflow: hidden;position: relative;}

    #news .area_title{margin-top: 65px;}
    #news dl{margin-top: 48px;}
    #news dt{width:234px;}

    #news dd{width: 846px;}

    #news .new_list{width: 100%;}

    #news .new_list li{width: 50%;float: left;margin-bottom: 48px;}

    #news .new_date{width: 71px;height: 70px;border-right:1px solid #dcdcdc;text-align: center;}
    #news .new_date i{color: #66c5b4;font-size: 39px;display: block;font-weight: bold;}
    #news .new_date span{color: #999999;font-size: 20px;line-height: 36px;}
    #news .new_text{width: 270px;margin-left: 80px;margin-top: -60px;}
    #news .new_text h3{font-size: 14px;}
    #news .new_text h3 a{color: #3f3f3f;}
    #news .new_text p{color: #A4A4A4;font-size: 12px;line-height: 21px;margin-top: 17px;}

    #foot {background: #0ec4a2;height: 54px;position: fixed;bottom:0;left:0;}
    #foot #container{height: 54px;line-height: 54px;font-size: 12px;color:white;}
    
    #foot div{margin: 0 220px;}
    #foot div a{color: white;margin: 0 10px;}