<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/adminheadcss :: common_header(~{::title},~{::link})">

</head>
<style>
  @keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}
  .chartjs-render-monitor{animation:chartjs-render-animation 1ms}
  .chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}
  .chartjs-size-monitor-expand > div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}

  .chartjs-size-monitor-shrink > div{position:absolute;width:200%;height:200%;left:0;top:0}
</style>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <div id="commonnav" th:replace="admin/adminnav :: adminnav"  >

  </div>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">本站数据</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">首页</a></li>
              <li class="breadcrumb-item active">本站数据</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">

            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>150</h3>

                <p>注册人数</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>

          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>53</h3>

                <p>登录人数</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>44</h3>

                <p>文章访问量</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>65</h3>

                <p>访问人数</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">

        
          <div class="col-md-6">
            <h1>文章访问量</h1>
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">各类型文章访问量对比</h3>
  
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                  <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 100%;" width="100%" height="250" class="chartjs-render-monitor"></canvas>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
          
          <div class="col-md-6">
            <h1>浏览器使用占比</h1>
              <div class="card card-danger">
                <div class="card-header">
                  <h3 class="card-title">浏览器使用率</h3>
      
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                  </div>
                </div>
                <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                  <canvas id="browerChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 100%;" width="100%" height="250" class="chartjs-render-monitor"></canvas>
                </div>
                <!-- /.card-body -->
              </div>
  
          </div>


        </div>
        

              <div class="row">
                <div class="card" style="width: 100%;height: auto;">
                  <div class="card-header">
                    <h1 class="card-title" style="font-weight: bold;">最后注册用户</h1>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <table id="userlist" class="table table-bordered">
                      <thead>                  
                        <tr>
                          <th style="width: 10px">#</th>
                          <th>用户名</th>
                          <th style="width:30%">身份</th>
                          <th style="width:30%">操作</th>
                        </tr>
                      </thead>
                      <tbody>

                        <tr>
                        <td colspan="4">暂时无用户信息</td>
                        </tr>


                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-right">
                      <li class="page-item"><a class="page-link" href="#">«</a></li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">»</a></li>
                    </ul>
                  </div>
                </div>
      
                </div>
      
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
    <!--modal-sm-->
    <div class="modal fade" id="infomodal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">信息框</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>One fine body&hellip;</p>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" id="save" class="btn btn-primary toastsDefaultSuccess">保存</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
  <div th:replace="admin/adminfooter :: myfooter"  ></div>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<div id="toastsContainerTopRight" class="toasts-top-right fixed">
    <!--show-->
    <div class="toast bg-success fade" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="mr-auto">Toast Title</strong>
            <small>Subtitle</small>
            <button data-dismiss="toast" type="button" class="ml-2 mb-1 close" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="toast-body">Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</div></div>
</div>

<div id="commonjs" th:replace="admin/admincommonjs::common_js(~{::script})">

</div>
<script>

  function User() {
    this.id=0;
      this.username="";
      this.password='';
      this.sex=1;
      this.email="";
      this.role=1;
  }


  function updateData(data,url) {

      $.ajax({
          url: url,
          type: 'PUT',
          data:data,
          success: function(result) {
              console.log("更新: "+result);
              showalert("提示:","更新用户成功!");

              setTimeout(hidealert,1000);

          }
      });
  }


function showalert(title,info) {

    $("#toastsContainerTopRight .toast-header strong").html(title);
    $("#toastsContainerTopRight .toast-header small").html("");
    $("#toastsContainerTopRight .toast-body").html(info);
    $("#toastsContainerTopRight div").addClass("show");
}

  function hidealert() {

      $("#toastsContainerTopRight div").removeClass("show");
  }

  function showSampleInfo(title,content,oktext,callback) {

      $("#infomodal h4").html(title);
      $("#infomodal .modal-body").html(content);
      $("#infomodal .modal-footer #save").html(oktext);
        typeof callback==="function";
      callback();
  }

  function showInfo(title,content,url,id) {

      $("#infomodal h4").html(title);
      $("#infomodal .modal-body").html(content);

      $("#infomodal .modal-footer #save").click( function () {
          let data=new User();
          data.id=id;
          console.log("showInfo----");
          data.username = $("#infomodal .modal-body input[name='username']").val();
          data.password = $("#infomodal .modal-body input[name='password']").val();
          data.sex = $("#infomodal .modal-body input[name='sex']").val()=='男'?1:2;
          data.email = $("#infomodal .modal-body input[name='email']").val();
          data.role = $("#infomodal .modal-body input[name='role']").val();
          console.log(data);
          updateData(data,url);

      });

  }
  
  
  function queryAllUser() {
      $.get("/admin/user/",function (data) {
        let content="";

          data.forEach( item => {

              content=content+"<tr>\n" +
                  "                          <td>"+item.id+".</td>" +
                  "                          <td>"+item.username+"</td>" +
                  "                          <td>" +
                  "                           "+item.role+"" +
                  "                          </td>" +
                  "                          <td>" +
                  "                            <button type=\"submit\" class=\"btn btn-primary\" onclick='lockAccount("+item.id+")'>封号</button>" +
                  "                            <button type=\"submit\" class=\"btn btn-danger\" data-toggle=\"modal\"  data-target=\"#infomodal\" onclick='delAccount("+item.id+")'>删除账号</button>" +
                  "                            <button type=\"submit\" class=\"btn btn-info\"  data-toggle=\"modal\"  data-target=\"#infomodal\" onclick='queryUser("+item.id+")'>查看详细信息</button>" +
                  "                          </td>" +
                  "                        </tr>";


          });
          if(data.length>0){
              $("#userlist tbody").html(content);
          }

      });
  }
  queryAllUser();

  function lockAccount(id) {
      console.log("封号 "+id);
      queryAllUser();
  }


  function delAccount(id) {
      console.log("删除 "+id);
      let user=new User();
      user.id=id;

      showSampleInfo("提示:","是否删除该用户信息?","确定",function () {

          $("#infomodal .modal-footer #save").click(function () {
              $.ajax({
                  url: "/admin/user/",
                  type: 'DELETE',
                  data:user,
                  success: function(result) {
                      console.log("删除: "+result);
                      showalert("提示:","删除用户成功!");

                      setTimeout(hidealert,1000);
                      queryAllUser();
                  }
              });
              $("#infomodal").css("display","none");
          });
      });



  }

  function userdata(username,password,sex,email,role) {
      return  "用户名:<input type=\"text\" name='username'  class=\"form-control\" value='" +username +"' style=\" display: inline-block; width: 30%;border-style: solid;border-width: medium;border-color: #007bff;\"/>"
         +"<br/>" + "密码:<input type=\"text\" name='password' class=\"form-control\" value='" +password +"'  style=\"display: inline-block; width: 30%;border-style: solid;border-width: medium;border-color: #007bff;\"/>"
          +"<br/>"  + "性别:<input type=\"text\" name='sex' class=\"form-control\" value='" + (sex==1?'男':'女') +"'  style=\"display: inline-block; width: 30%;border-style: solid;border-width: medium;border-color: #007bff;\"/>"
          +"<br/>" + "email:<input type=\"text\" name='email' class=\"form-control\" value='" +email +"'  style=\"display: inline-block; width: 30%;border-style: solid;border-width: medium;border-color: #007bff;\"/>"
          +"<br/>"  + "角色:<input type=\"text\" name='role' class=\"form-control\" value='" +role +"'  style=\"display: inline-block; width: 30%;border-style: solid;border-width: medium;border-color: #007bff;\"/>";
  }

  function queryUser(id) {
      $.get("/admin/user/"+id,function (data) {
          console.log(data);
          showInfo(data.username+"用户信息:", userdata(data.username,data.password,data.sex,data.email,data.role),"/admin/user/",data.id);
      });

  }

</script>
<script>
  $("ul#navul li:first a").addClass("active");
  $(function () {
    /* ChartJS
     * -------
     * Here we will create a few charts using ChartJS
     */


    // active



    //-------------
    //- DONUT CHART -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
    var browerChartCanvas = $('#browerChart').get(0).getContext('2d');
    var browerChartData = {
      labels: [
          'Chrome', 
          'IE',
          'FireFox', 
          'Safari', 
          'Opera', 
          'Navigator'
      ],
      datasets: [
        {
          data: [700,500,400,600,300,100],
          backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
        }
      ]
    };
    var browerChartOptions     = {
      maintainAspectRatio : false,
      responsive : true,
    };

    //Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    // 如果没有这一操作将不会显示图表信息
    var browerChart = new Chart(browerChartCanvas, {
      type: 'doughnut',
      data: browerChartData,
      options: browerChartOptions      
    });


// 条状图表

    var barChartCanvas = $('#barChart').get(0).getContext('2d')
    var barChartData = {
      labels  : ['java', 'js', 'css', 'C#', 'unity', 'hadoop', 'hive'],
      datasets: [
        {
          label               : '总数据',
          backgroundColor     : 'rgba(60,141,188,0.9)',
          borderColor         : 'rgba(60,141,188,0.8)',
          pointRadius          : false,
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(60,141,188,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data                : [28, 48, 40, 19, 86, 27, 90]
        }
        
      ]
    };

    var barChartOptions = {
      responsive              : true,
      maintainAspectRatio     : false,
      datasetFill             : false
    };

    var barChart = new Chart(barChartCanvas, {
      type: 'bar', 
      data: barChartData,
      options: barChartOptions
    })






  });





    
</script>
</body>
</html>
