<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<div th:fragment="myfooter">


    <div id="toastsContainerTopRight" class="toasts-top-right fixed">
        <!--show-->
        <div class="toast bg-success fade" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="mr-auto">Toast Title</strong>
                <small>Subtitle</small>
                <button data-dismiss="toast" type="button" class="ml-2 mb-1 close" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="toast-body">Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</div></div>
    </div>

    <div class="modal fade" id="infomodal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{inputtitle}}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p v-if="!isinputlist">{{info}}</p>

                   <div v-for="item in infolist "  v-if="isinputlist">
                       {{item.tag}}<input width='50%' type="text" :name="item.name" v-model="item.value" class="form-control"  style=" display: inline-block; width: 70%;margin-left: 20px;border-color: #007bff;"/><br/>
                   </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" id="save" class="btn btn-primary toastsDefaultSuccess" data-dismiss="modal">{{oktext}}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <footer class="main-footer">
        <strong>Copyright &copy; 2018-2020 <a href="#">zhiyigo.cn</a>.</strong>
        All rights reserved
    </footer>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script>

        var infomodalElement=new Vue({
            el: '#infomodal',
            data: {
                inputtitle:'信息框',
                isinputlist:false,
                info:"",
                infolist:[],
                oktext:"保存"
            }, methods: {

                showInfo:function (title,infolist,isinputlist,oktext,info,callback) {
                    //此方法不提供显示模态框的功能只提供模态框数据填充，模态框显示需要按钮 实现属性---data-toggle="modal"  data-target="#infomodal"

                    console.log("infomodalElement ");
                    this.inputtitle=title;
                    this.infolist=infolist;
                    this.oktext=oktext;
                    this.info=info;
                    this.isinputlist=isinputlist;

                    typeof callback==="function";

                    $("#infomodal .modal-footer #save").click(function () {
                        console.log("infomodalElement save");
                        callback();
                    });

        },

        // showInfo:function (title,content,callback) {
        //
        //     $("#infomodal h4").html(title);
        //     $("#infomodal .modal-body").html(content);
        //
        //     typeof callback==="function";
        //     callback();
        //
        // }
            }
        });

    </script>
</div>
</html>