<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/adminheadcss :: common_header(~{::title},~{::link})">

</head>
<style>

  .blockstyle{
    width: 75px;height: 65px;
    display: inline-block;position: absolute;top:30%;left: 25%;
    text-align: center;
  }
</style>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <div id="commonnav" th:replace="admin/adminnav :: adminnav"  >

  </div>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">本站数据</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">首页</a></li>
              <li class="breadcrumb-item active">图片管理</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">




        <div class="row">
          <div class="col-lg-12 col-12">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>150</h3>

                <p>图片数</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>

          <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
     
     
          <section class="content">
            <div class="container-fluid">
              <div class="row col-12" style="height: 500px;border:10px solid #17a2b8;padding: 0;border-radius: 15px;">



                    <h2 style="text-align:center;width: 100%;background-color: #17a2b8;color: white;align-content: center;height: 80px;margin:0 auto;">banner设置</h2>


                  <div class="row col-12" style="position: relative;top: 20px;height: 50px;"> <h3 class="card-title col-4" style="text-align:center;">banner01</h3><input type="text" class="col-4" value="www.baidu.com"/><button style="position: relative;left: 20px;"class="btn btn-primary">修改</button><button style="position: relative;left: 20px;" class="btn btn-primary">选择</button></div>
                  <div class="row col-12" style="position: relative;top: 20px;height: 50px;" > <h3 class="card-title col-4" style="text-align:center;">banner02</h3><input type="text" class="col-4" value="www.baidu.com"/><button style="position: relative;left: 20px;" class="btn btn-primary">修改</button><button style="position: relative;left: 20px;" class="btn btn-primary">选择</button></div>
                  <div class="row col-12" style="position: relative;top: 20px;height: 50px;"> <h3 class="card-title col-4" style="text-align:center;">banner03</h3><input type="text" class="col-4" value="www.baidu.com"/><button style="position: relative;left: 20px;" class="btn btn-primary">修改</button><button style="position: relative;left: 20px;" class="btn btn-primary">选择</button></div>
                  <div class="row col-12" style="position: relative;top: 20px;height: 50px;"> <h3 class="card-title col-4" style="text-align:center;">banner04</h3><input type="text" class="col-4" value="www.baidu.com"/><button style="position: relative;left: 20px;" class="btn btn-primary">修改</button><button style="position: relative;left: 20px;" class="btn btn-primary">选择</button></div>
                </div>



              <div class="row" style="position: relative;top: 20px;">
                <div class="col-12">
                  <div id="phtotlist" class="card card-primary">
                    <div class="card-header">
                      <h3 class="card-title">图片列表</h3>

                    </div>
                    <button style="position: relative;left: 20px;width: 150px;"class="btn btn-danger"  data-toggle="modal"  data-target="#infomodal" onclick="addImg()">增加图片</button>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-12">
                        暂无图片信息!
                        </div>






                    </div>


                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
          </section>

          <div id="ShowImage_Form" class="modal hide" style="width: 50em;height:50em;left: 10em;" >         
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button" style="color:black;background-color: white;"></button>
            </div>
              <div class="modal-body">
               <div id="img_show" >
               </div>
           </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  
  <!-- /.content-wrapper -->
  <div th:replace="admin/adminfooter :: myfooter"  ></div>

  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<div id="commonjs" th:replace="admin/admincommonjs::common_js(~{::script})">
</div>


<script>
  $("ul#navul li:nth-of-type(5) a").addClass("active");
  function Photo() {
    this.id=0;
    this.photoName="";
    this.srcUrl='';
    this.uploadTime=getLocalTime(new Date());
  }
  function queryAllPhoto() {
    $.get("/admin/photo/",function (data) {
      let content="";

      data.forEach( item => {

        content=content+"<div class=\"col-md-4\" style=\"margin-top: 10px;\">\n" +
                "                        <div class=\"position-relative p-3 bg-gray\" \n" +
                "                        onmouseover=\"mousehoverdiv(this)\"\n" +
                "                        onmouseout=\"mouseoutdiv(this)\"\n" +
                'style="height: 180px;background-image: url('+item.srcUrl+');background-size: 100% 100%;">' +
                "                          <div class=\"ribbon-wrapper ribbon-xl\">\n" +
                "                            <div class=\"ribbon bg-secondary\">\n" +
               item.photoName +
                "                            </div>\n" +
                "                          </div>\n" +

                "                          <button onclick='queryimg(\" "+encodeURIComponent(item.srcUrl)+" \")' class=\"blockstyle btn btn-danger\" style='display: none;'><i class=\"fas fa-search-plus\"></i>查看</button>\n" +

                "                              <button onclick='delimg("+item.id+")' class=\"blockstyle btn btn-danger\" style='left: 55%;display: none;'><i class=\"fas fa-trash-alt\"></i>删除</button>" +

                "                        </div>  </div>";


      });
      if(data.length>0){
        $("#phtotlist .card-body div").html(content);
      }

    });
  }
  queryAllPhoto();
 function mousehoverdiv(e){
      
      var currentEle=e;
   
    
      $(currentEle).find('.blockstyle').css("display","inline-block");

  }

  function mouseoutdiv(e){
      
      var currentEle=e;
    
    $(currentEle).find(".blockstyle").css("display","none");
    

  }

  function queryimg(url){
    url=decodeURIComponent(url);
    $("#ShowImage_Form").find("#img_show").html("<image src="+url+" class='carousel-inner img-responsive img-rounded' />");
    $("#ShowImage_Form").modal();

  }

  function photodata(photoname,srcUrl) {
    return  "图片名:<input width='50%' type=\"text\" name='photoname'  class=\"form-control\" value='" +photoname +"' style=\" display: inline-block; width: 70%;margin-left: 20px;border-color: #007bff;\"/>"
            +"<br/>" + "图片地址:<input  type=\"text\" name='srcUrl' class=\"form-control\" value='" +srcUrl +"'  style=\" display: inline-block; width: 70%;margin-left: 20px;border-color: #007bff;\"/>"
  }

  function addImg() {

    showSampleInfo("添加图片:",photodata("",""),"确定",function () {

      $("#infomodal .modal-footer #save").click(function () {
        let photo=new Photo();
      var photoname=$("#infomodal .modal-body input[name='photoname']").val();
        var srcUrl=$("#infomodal .modal-body input[name='srcUrl']").val();

        photo.photoName=photoname;
        photo.srcUrl=srcUrl;
        photo.uploadTime=getLocalTime(new Date());
        console.log(photo);
        $.post("/admin/photo/",photo,function (data) {
          console.log(data);
          showalert("提示:","添加图片成功!");
        });

      });



    });

  }

function delimg(id){

  console.log("删除 "+id);
  let photo=new Photo();
  photo.id=id;

  showSampleInfo("提示:","是否删除该图片?","确定",function () {

    $("#infomodal .modal-footer #save").click(function () {
      $.ajax({
        url: "/admin/photo/",
        type: 'DELETE',
        data:photo,
        success: function(result) {
          console.log("删除: "+result);
          showalert("提示:","删除图片成功!");

          setTimeout(hidealert,1000);
          queryAllPhoto();
        }
      });

    });
  });

}
  </script>




</body>
</html>
