<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/adminheadcss :: common_header(~{::title},~{::link})">

</head>
<style>
  .blockstyle{
    width:60px;height:60px;border-color: red;border-width: medium;border-style: solid;display: inline-block;position: absolute;top:30%;left: 25%;
    text-align: center;line-height: 50px;
  }
</style>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <div id="commonnav" th:replace="admin/adminnav :: adminnav"  >

  </div>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">本站数据</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">首页</a></li>
              <li class="breadcrumb-item active">图片管理</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">




        <div class="row">
          <div class="col-lg-12 col-12">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>150</h3>

                <p>图片数</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>

          <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
     
     
          <section class="content">
            <div class="container-fluid">
              <div class="row col-12" style="height: 500px;border:10px solid #17a2b8;padding: 0;border-radius: 15px;">



                    <h2 style="text-align:center;width: 100%;background-color: #17a2b8;color: white;align-content: center;height: 80px;margin:0 auto;">banner设置</h2>


                  <div class="row col-12" style="position: relative;top: 20px;height: 50px;"> <h3 class="card-title col-4" style="text-align:center;">banner01</h3><input type="text" class="col-4" value="www.baidu.com"/><button style="position: relative;left: 20px;"class="btn btn-primary">修改</button><button style="position: relative;left: 20px;" class="btn btn-primary">选择</button></div>
                  <div class="row col-12" style="position: relative;top: 20px;height: 50px;" > <h3 class="card-title col-4" style="text-align:center;">banner02</h3><input type="text" class="col-4" value="www.baidu.com"/><button style="position: relative;left: 20px;" class="btn btn-primary">修改</button><button style="position: relative;left: 20px;" class="btn btn-primary">选择</button></div>
                  <div class="row col-12" style="position: relative;top: 20px;height: 50px;"> <h3 class="card-title col-4" style="text-align:center;">banner03</h3><input type="text" class="col-4" value="www.baidu.com"/><button style="position: relative;left: 20px;" class="btn btn-primary">修改</button><button style="position: relative;left: 20px;" class="btn btn-primary">选择</button></div>
                  <div class="row col-12" style="position: relative;top: 20px;height: 50px;"> <h3 class="card-title col-4" style="text-align:center;">banner04</h3><input type="text" class="col-4" value="www.baidu.com"/><button style="position: relative;left: 20px;" class="btn btn-primary">修改</button><button style="position: relative;left: 20px;" class="btn btn-primary">选择</button></div>
                </div>



              <div class="row" style="position: relative;top: 20px;">
                <div class="col-12">
                  <div class="card card-primary">
                    <div class="card-header">
                      <h3 class="card-title">图片列表</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                      <div class="row mt-4">
                        <div class="col-sm-4">
                          <div class="position-relative p-3 bg-gray " 
                          onmouseover="mousehoverdiv(this)"
                          onmouseout="mouseoutdiv(this)"
                          style="height: 180px;background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(31).jpg');background-size: 100% 100%;">
                            <div class="ribbon-wrapper">
                              <div class="ribbon bg-primary">
                                Ribbon
                              </div>
                            </div>
                            
                           

                              <div class="blockstyle" style="display: none;" onclick="queryimg('https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(31).jpg')"><i class="fas fa-search-plus"></i>查看</div>
                              <div class="blockstyle" style="left: 55%;display: none;" onclick="delimg(1)"><i class="fas fa-trash-alt"></i>删除</div>
                           
                           
                            
                            
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="position-relative p-3 bg-gray" 
                          onmouseover="mousehoverdiv(this)"
                          onmouseout="mouseoutdiv(this)"
                          style="height: 180px;background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(31).jpg');background-size: 100% 100%;">
                            <div class="ribbon-wrapper ribbon-lg">
                              <div class="ribbon bg-info">
                                Ribbon Large
                              </div>
                            </div>
                            <div class="blockstyle" style="display: none;"><i class="fas fa-search-plus"></i>查看</div>
                            <div class="blockstyle" style="left: 55%;display: none;"><i class="fas fa-trash-alt"></i>删除</div>
                          </div>
                        </div>


                        <div class="col-sm-4">
                          <div class="position-relative p-3 bg-gray" 
                          onmouseover="mousehoverdiv(this)"
                          onmouseout="mouseoutdiv(this)"
                          style="height: 180px;background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(31).jpg');background-size: 100% 100%;">
                            <div class="ribbon-wrapper ribbon-xl">
                              <div class="ribbon bg-secondary">
                                Ribbon Extra Large
                              </div>
                            </div>
                            <div class="blockstyle" style="display: none;"><i class="fas fa-search-plus"></i>查看</div>
                            <div class="blockstyle" style="left: 55%;display: none;"><i class="fas fa-trash-alt"></i>删除</div>

                          </div>
                        </div>
              
                        

                      </div>

                    <div class="row mt-4">

                      <div class="col-sm-4">
                        <div class="position-relative p-3 bg-gray" 
                        onmouseover="mousehoverdiv(this)"
                        onmouseout="mouseoutdiv(this)"
                        style="height: 180px;background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(31).jpg');background-size: 100% 100%;">
                          <div class="ribbon-wrapper ribbon-xl">
                            <div class="ribbon bg-secondary">
                              Ribbon Extra Large
                            </div>
                          </div>

                          <div class="blockstyle" style="display: none;"><i class="fas fa-search-plus"></i>查看</div>
                              <div class="blockstyle" style="left: 55%;display: none;"><i class="fas fa-trash-alt"></i>删除</div>

                        </div>
                      </div>

                      <div class="col-sm-4">
                        <div class="position-relative p-3 bg-gray" 
                        onmouseover="mousehoverdiv(this)"
                        onmouseout="mouseoutdiv(this)"
                        style="height: 180px;background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(31).jpg');background-size: 100% 100%;">
                          <div class="ribbon-wrapper ribbon-xl">
                            <div class="ribbon bg-secondary">
                              Ribbon Extra Large
                            </div>
                          </div>
                          <div class="blockstyle" style="display: none;"><i class="fas fa-search-plus"></i>查看</div>
                          <div class="blockstyle" style="left: 55%;display: none;"><i class="fas fa-trash-alt"></i>删除</div>

                        </div>

                      </div>

                      <div class="col-sm-4">
                        <div class="position-relative p-3 bg-gray" 
                        onmouseover="mousehoverdiv(this)"
                        onmouseout="mouseoutdiv(this)"
                        style="height: 180px;background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(31).jpg');background-size: 100% 100%;">
                          <div class="ribbon-wrapper ribbon-xl">
                            <div class="ribbon bg-secondary">
                              Ribbon Extra Large
                            </div>
                          </div>

                          <div class="blockstyle" style="display: none;"><i class="fas fa-search-plus"></i>查看</div>
                          <div class="blockstyle" style="left: 55%;display: none;"><i class="fas fa-trash-alt"></i>删除</div>

                        </div>
                      </div>


                    </div>


                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
          </section>

          <div id="ShowImage_Form" class="modal hide" style="width: 50em;height:50em;left: 10em;" >         
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button" style="color:black;background-color: white;"></button>
            </div>
              <div class="modal-body">
               <div id="img_show" >
               </div>
           </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  
  <!-- /.content-wrapper -->
  <div th:replace="admin/adminfooter :: myfooter"  ></div>

  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<div id="commonjs" th:replace="admin/admincommonjs::common_js(~{::script})">
</div>


<script>
  $("ul#navul li:nth-of-type(5) a").addClass("active");
 function mousehoverdiv(e){
      
      var currentEle=e;
   
    
      $(currentEle).find('.blockstyle').css("display","inline-block");

  }

  function mouseoutdiv(e){
      
      var currentEle=e;
    
    $(currentEle).find(".blockstyle").css("display","none");
    

  }

  function queryimg(url){

    $("#ShowImage_Form").find("#img_show").html("<image src='"+url+"' class='carousel-inner img-responsive img-rounded' />");
    $("#ShowImage_Form").modal();

  }
function delimg(id){

  alert(id);
}
  </script>




</body>
</html>
