<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/adminheadcss :: common_header(~{::title},~{::link})">

</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">



  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->


<script>
  function Info(tag,name,value) {
    this.tag=tag;
    this.name=name;
    this.value=value;

  }
  new Vue({

      el: '#usermanager',


  });
</script>

<script>

  $("ul#navul li:nth-of-type(2) a").addClass("active");
  function User() {
    this.id=0;
    this.username="";
    this.password='';
    this.sex=1;
    this.email="";
    this.role=1;
  }


  function lockAccount(id) {
    console.log("封号 "+id);
    queryAllUser();
  }







</script>
</body>
</html>
