<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/adminheadcss :: common_header(~{::title},~{::link})">

</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">


  <div id="commonnav" th:replace="admin/adminnav :: adminnav"  >

  </div>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">本站数据</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">首页</a></li>
              <li class="breadcrumb-item active">用户管理</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>150</h3>

                <p>注册人数</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>53<sup style="font-size: 20px">%</sup></h3>

                <p>登录人数</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
       

          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>65</h3>

                <p>访问人数</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
     
          <div class="row">
            <div class="card" style="width: 100%;height: auto;">
              <div class="card-header">
                <h1 class="card-title" style="font-weight: bold;">用户列表</h1>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>                  
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>用户名</th>
                      <th style="width:30%">身份</th>
                      <th style="width:30%">操作</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <td>1.</td>
                      <td>小明</td>
                      <td>
                        管理员
                      </td>
                      <td>
                        <button type="submit" class="btn btn-primary">封号</button>
                        <button type="submit" class="btn btn-danger">删除账号</button>
                        <button type="submit" class="btn btn-info">查看详细信息</button>
                      </td>
                    </tr>
                  <tr>
                      <td>2.</td>
                      <td>小红</td>
                      <td>
                       游客
                      </td>
                      <td>
                        <button type="submit" class="btn btn-primary">封号</button>
                        <button type="submit" class="btn btn-danger">删除账号</button>
                        <button type="submit" class="btn btn-info">查看详细信息</button>
                      </td>
                    </tr>
                    <tr>
                      <td>3.</td>
                      <td>小王</td>
                      <td>
                        版主
                      </td>
                      <td>
                        <button type="submit" class="btn btn-primary">封号</button>
                        <button type="submit" class="btn btn-danger">删除账号</button>
                        <button type="submit" class="btn btn-info">查看详细信息</button>
                      </td>
                    </tr>
        
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                  <li class="page-item"><a class="page-link" href="#">«</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">»</a></li>
                </ul>
              </div>
            </div>
  
            </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <div th:replace="admin/adminfooter :: myfooter"  ></div>

  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<div id="commonjs" th:replace="admin/admincommonjs::common_js(~{::script})">

</div>
<script>
  $("ul#navul li:nth-of-type(2) a").addClass("active");
</script>
</body>
</html>
